Todays date is <%=@currDate%>
<h1>Welcome to MiCap.me!</h1>
<div class="content">
	<p>With any luck this will be my new personal website. I am currently
	planning on including such things as a portfolio/resume type things,
	a blog, and an experimental lab where I can play around with various
	cool new things.</p>
</div>
<div class="logo_container">
	<!--<img src='/assets/d20.jpg'/>-->
	<%= image_tag('d20.jpg') %>
</div>
