// Place all the styles related to the dota_bingo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
    background-color: white;
    background-image: none;
}

table tr td{
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    height: 50px;
    width: 50px;    
}

input[type=submit] {
    width: 20em;
    height: 5em;
}

p {
    color:black;
}
